:root {
    /* See also: CELL_WIDTH_PX in consts.ts */
    --letter-side-len: 40px;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 10px 0 25px 0;
}

[bkp-draggable] {
    cursor: move;
    user-select: none;
}

.play-area {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

table {
    border-collapse: collapse;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 50px;
}

.board table {
    border: 2px solid black;
    display: inline-block;
}

.board table td {
    width: var(--letter-side-len);
    height: var(--letter-side-len);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.board table td:first-child {
    border-left-width: 0;
}

.board table tr:first-child td {
    border-top-width: 0;
}

.board table td:last-child {
    border-right-width: 0;
}

.board table tr:last-child td {
    border-bottom-width: 0;
}

table.piece {
    position: absolute;
}

table.piece td.letter,
.board table td {
    font-size: calc(var(--letter-side-len) * 0.75);
    font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace;
    border: 1px solid black;
    width: var(--letter-side-len);
    height: var(--letter-side-len);
    text-align: center;
    line-height: var(--letter-side-len);
    background-color: rgba(255, 255, 255, 1);
}

table.piece td.empty {
    visibility: hidden;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}