html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    /* Dumb hack to get rid of whitespace below canvas caused
    by whitespace in HTML markup */
    font-size: 0;
}

body {
    /* Undo the dumb hack above. */
    font-size: initial;
}

canvas {
    width: 100%;
    height: 100%;
}