:root {
    /* See also: CELL_WIDTH_PX in consts.ts */
    --letter-side-len: 60px;
    --border-width: 2px;
    --font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace;
    --box-side-len: calc(var(--letter-side-len) * 5 + var(--border-width) * 6);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

:focus-visible {
    outline: 1px dotted black;
}